<nav class="menu">
      <ul>
        <li>
          <a href="/">Inicio</a>
        </li>
        <li>
          <a href="/Acerca">Acerca</a>
        </li>
        <li>
          <a href="/halo">Wiki</a>
        </li>
      </ul>
</nav>