---
layout: layout-page.njk
title: Inicio
description: Meta descripción de la página de inicio
---

<h1>{{ title }}</h1>
<p>
  Hola, esta es una wiki para los amantes de todo lo relacionado a Halo, tenemos desde los personajes más importantes, hasta las batallas con más impacto dentro de este gran universo
</p>
<hr>
<h2>{{ site.message }}</h2>
<p>
  Para sacarle mayor provecho a este <i>starter project</i>, te sugiero revisar los siguientes enlaces:
</p>
<ul>
  {% for link in site.linksDoc %}
    <li>
      <a href="{{ link.url }}" target="_blank">{{ link.text | safe }}</a>
    </li>
  {% endfor %}
</ul>